body {
    background-color: antiquewhite;
    background-image: url('/img/bg1.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.main {
    background-color: aliceblue;
}

.container {
    max-width: 1080px;
    width: 100%;
    padding: 2em;
    margin: 0 auto;
}

nav {
    padding: 0.5em;
    background-color: aliceblue;
    border-bottom: 1px solid #1a1a1a;
}

ul li {
    list-style: none;
    display: inline-block;
    margin: 15px;
}

footer {
    background-color: black;
    color: white;
    padding: 0.5em 2em;
    text-align: center;
    margin-top: auto;
}